.btn {
  background-color: #E7207B;
  border-color: #E7207B;
}
#no-pad {
  padding-bottom: 0;
}
.flickity-page-dots .dot {
  background-color: #e7207b;
}
.bar .logo {
  max-height: 2.45714286em;
}
footer .logo {
  max-height: 2.67142857em;
}
.the-colour {
  color: #e7207b;
}
.btn:hover {
  background-color: black;
}
.btn-primary {
  background-color:  #e7207b;
}
.pad-top {
  padding-top: 20px;
}
#clrchange {
  background-color: #e7207b;
  border-color: black;
}
#clrchange:hover {
  background-color:black;
  border-color: #e7207b;
}
.label:not([class*='bg--']) {
  background: black;
  color: #e7207b;
}
.bar {
  position: fixed;
  width: 100%;
  z-index: 4;
  background: #151314;
}

.hamburger-toggle i {
  color: #e7207b;
}
.header-effect li a {
  color:#e7207b;
  opacity: 1;
  z-index: 3;
}
.widget {
  position: fixed;
  display: block;
  bottom: 0%;
  right: 0%;
  z-index: 10;
}
.font-heading {
  font-family: 'Joti One', cursive;
}
